<div class="jumbotron text-center">
<h1>antecero <i class="fa fa-ellipsis-h"></i></h1>
<p>Start now organizing your tasks with antecero.</p>
<p>Assign states to your own cards: organizing has never been this easy!</p>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-homepage border-md-4-home">
			<div class="panel-heading">
			<p class="pull-right">x</p><p>To Do</p>
			</div>
			<div class="panel-body" style="color:black">Buy groceries<br><br></div>
			<div class="panel-footer text-center">
				<div class="btn btn-homepage btn-md btn-block"><i class='fa fa-arrow-right'></i></div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-homepage border-md-4-home">
			<div class="panel-heading">
			<p class="pull-right">x</p><p>Doing</p>
			</div>
			<div class="panel-body" style="color:black">Read newspaper<br><br></div>
			<div class="panel-footer text-center">
				<div class="btn-group btn-group-justified">
				<div class="btn btn-homepage btn-md btn-block"><i class='fa fa-arrow-left'></i></div>
				<div class="btn btn-homepage btn-md btn-block"><i class='fa fa-arrow-right'></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-homepage border-md-4-home">
			<div class="panel-heading">
			<p class="pull-right">x</p><p>Done</p>
			</div>
			<div class="panel-body" style="color:black">Go walk the dog<br><br></div>
			<div class="panel-footer text-center">
				<div class="btn btn-homepage btn-md btn-block"><i class='fa fa-arrow-left'></i></div>
			</div>
		</div>
	</div>
</div>
<div class="btn-group btn-group-justified">
<%= link_to "Register now", new_user_registration_path, class: "btn btn-register btn-lg btn-block" %>
<%= link_to "Sign in", new_user_session_path, class: "btn btn-login btn-lg btn-block" %>
</div>
</div>
